<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.edition}}</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css" media="screen" />
    {% include font.html %}
  </head>
  <body>
    <header>
      <a href="/"><img class="banner" src="/assets/banner.png" alt="Logo"></a> 
    </header>
    <main>
      <summary>
        <h2>{{ page.edition }}</h2>
        <ul>
        {% for item in page.sections %}
        <li>
          <div class="sec_name"> {{item.section}}</div>
          <a href="{{ item.url }}/{{ item.url }}.html">{{ item.title }}</a>
          <div class="sec_author"> {{item.author}}</div>
        </li>
        {% endfor %}
        </ul>
      </summary>
    </main>
    <aside>
      <figure>
      <a href="{{page.pdfurl}}"><img class="cover" src="capa.png" alt="Capa" target="_parent" ></a>
      <figcaption>Clique para baixar o PDF. </figcaption>
      </figure>
    </aside>
    <footer>
      <hr/>
      <address>
        <a href="mailto:hipatia@ufba.br">hipatia@ufba.br</a>  
      </address>
    </footer>
  </body>
</html>
